<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Dropzone.js -->
    <link href="/isard-admin/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="x_panel">
          <div class="page-title">
             <div class="title_left">
                <h3><i class="fa fa-gears"></i> Configuration <small>Isard global configuration</small></h3>
              </div>
          </div> 
          <div class="clearfix"></div>
       </div>
    </div>
  </div>

        <!--
 		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2><i class="fa fa-area-chart"></i> Grafana <small></small></h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="btn-edit" data-panel="engine-grafana"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Edit</span></a>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">

					<form id="formGrafana" class="form-horizontal form-label-left" action="{{ url_for('admin_config_update') }}" method="POST" novalidate>
						<div class="x_panel">
							<div class="x_title">
								<h2>Grafana<small></small></h2>
								<label class="control-label navbar-right" for="engine-grafana-active"> Active
								</label>
								<div class="checkbox pull-right">
									<label>
										<input id="engine-grafana-active" name="engine-grafana-active" type="checkbox" class="flat">
									</label>
								</div>
								<div class="clearfix"></div>
							</div>

							<div class="x_content">
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="engine-grafana-url">Grafana url<span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="engine-grafana-url" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="engine-grafana-url" placeholder="http://... or https://..." required="required" type="text">
									</div>
								</div>

								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="engine-grafana-hostname">Carbon host <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="engine-grafana-hostname" class="form-control col-md-7 col-xs-12" name="engine-grafana-hostname" placeholder="ip/dns" required="required" type="text">
									</div>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="engine-grafana-carbon_port">Carbon port <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="engine-grafana-carbon_port" class="form-control col-md-7 col-xs-12" name="engine-grafana-carbon_port" placeholder="Carbon port number" required="required" type="text">
									</div>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12" for="engine-grafana-interval">Update seconds <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input id="engine-grafana-interval" class="form-control col-md-7 col-xs-12" name="engine-grafana-interval" placeholder="Seconds between updates" required="required" type="text">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group footer-engine-grafana" style="display:none">
							<div class="col-md-6 col-md-offset-3">
								<button type="button" class="btn btn-secondary btn-cancel" data-panel="engine-grafana">Cancel</button>
								<button id="send" type="submit" class="btn btn-success">Update</button>
							</div>
						</div>

					</form>
				</div>
			</div>

		</div> 


    </div> -->

<!--
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-trash-o"></i> Disposable Desktops <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn-add-disposables" data-panel="disposables"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Add disposable</span></a>
                        <li><a class="btn-edit" data-panel="disposable_desktops"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Edit</span></a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <form id="formDisposable" class="form-horizontal form-label-left" action="{{ url_for('admin_config_update') }}" method="POST" novalidate>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>One use desktops<small></small></h2>
                                <label class="control-label navbar-right" for="disposable_desktops-active"> Active
                                </label>
                                <div class="checkbox pull-right">
                                    <label>
                                        <input type="hidden" id="disposable_desktops-id" name="disposable_desktops-id">
                                        <input id="disposable_desktops-active" name="disposable_desktops-active" type="checkbox" class="flat">
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <table id="table-disposables" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Networks</th>
                                            <th>Templates</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group footer-disposable_desktops" style="display:none">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" class="btn btn-secondary btn-cancel" data-panel="disposable_desktops">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
-->


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-lock"></i> Job scheduler <small></small></h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn-scheduler" data-panel="scheduler"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Add job</span></a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--
                                    <label class="control-label navbar-right" for="auth-ldap-active"> Active 
                                    </label>
                                        <div class="checkbox pull-right">
                                            <label>
                                              <input id="auth-ldap-active" name="auth-ldap-active" type="checkbox" class="flat">
                                            </label>
                                        </div>
-->
                    <div class="clearfix"></div>

                    <div class="x_content">
                        <table id="table-scheduler" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Kind</th>
                                    <th>Next run</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-briefcase"></i> Backup database <small></small></h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn-backup" data-panel="backup"><span style="color: #5499c7; "><i class="fa fa-life-saver"></i> Backup</span></a>
                        <li><a class="btn-backups-upload" data-panel="backup"><span style="color: darkgreen; "><i class="fa fa-upload"></i> Upload</span></a>
                            <!--
                        <li><a class="btn-restore" data-panel="backup"><span style="color: #5499c7; "><i class="fa fa-sign-in"></i> Restore</span></a>
-->
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="table-backups" class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><i class="fa fa-lock"></i> Authentication <small></small></h3>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn-edit" data-panel="auth"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Edit</span></a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <form id="formAuthentication" class="form-horizontal form-label-left" action="{{ url_for('admin_config_update') }}" method="POST" novalidate>
                        <div class="x_panel">
                            <div class="x_title">
                                <h3>Database authentication<small></small></h3>
                                <label class="control-label navbar-right" for="auth-local-active"> Active
                                </label>
                                <div class="checkbox pull-right">
                                    <label>
                                        <input id="auth-local-active" name="auth-local-active" type="checkbox" class="flat">
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h3>DEPRECATED (use the configuration file)<br>LDAP authentication<small></small></h3>
                                <label class="control-label navbar-right" for="auth-ldap-active"> Active
                                </label>
                                <div class="checkbox pull-right">
                                    <label>
                                        <input id="auth-ldap-active" name="auth-ldap-active" type="checkbox" class="flat">
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="auth-ldap-ldap_server">Server <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="auth-ldap-ldap_server" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="auth-ldap-ldap_server" placeholder="ldap://ldap.domain.com" required="required" type="text">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="auth-ldap-bind_dn">bind dn <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="auth-ldap-bind_dn" class="form-control col-md-7 col-xs-12" name="auth-ldap-bind_dn" placeholder="dc=domain,dc=com" required="required" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group footer-auth" style="display:none">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" class="btn btn-secondary btn-cancel" data-panel="auth">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
    </div>

<!--
ENGINE
-->
<!--
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-lock"></i> Engine <small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>SSH<small>Host Key Policy</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="btn-edit" data-panel="engine-ssh"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Edit</span></a>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    <form id="formEngineSsh" class="form-horizontal form-label-left" action="{{ url_for('admin_config_update') }}" method="POST" novalidate>
                                        <label class="control-label navbar-right" for="engine-ssh-paramiko_host_key_policy_check"> Active
                                        </label>
                                        <div class="checkbox pull-right">
                                            <label>
                                                <input id="engine-ssh-hidden" name="engine-ssh-hidden" hidden/>
                                                <input id="engine-ssh-paramiko_host_key_policy_check" name="engine-ssh-paramiko_host_key_policy_check" type="checkbox" class="flat">
                                            </label>
                                        </div>
                                        Please refer to: <small>https://github.com/paramiko/paramiko/issues/243</small>
                                </div>
                                <div class="form-group footer-engine-ssh" style="display:none">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button type="button" class="btn btn-secondary btn-cancel" data-panel="auth">Cancel</button>
                                        <button id="send" type="submit" class="btn btn-success">Update</button>
                                    </div>
                                </div>

                                </form>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Logs<small></small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="btn-edit" data-panel="engine-log"><span style="color: #5499c7; "><i class="fa fa-pencil"></i> Edit</span></a>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    <form id="formLog" class="form-horizontal form-label-left" action="{{ url_for('admin_config_update') }}" method="POST" novalidate>
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="engine-log-log_file">File name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="engine-log-log_file" class="form-control col-md-7 col-xs-12" data-validate-length-range="4,40" name="engine-log-log_file" placeholder="debug.log" required="required" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="engine-log-log_level">Level <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="engine-log-log_level" class="form-control col-md-7 col-xs-12" name="engine-log-log_level" placeholder="DEBUG,INFO,..." required="required" type="text">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="engine-log-log_name">Name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input id="engine-log-log_name" class="form-control col-md-7 col-xs-12" name="engine-log-log_name" placeholder="Log name" required="required" type="text">
                                            </div>
                                        </div>
                                        
                                </div>
                                <div class="form-group footer-engine-log" style="display:none">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button type="button" class="btn btn-secondary btn-cancel" data-panel="auth">Cancel</button>
                                        <button id="send" type="submit" class="btn btn-success">Update</button>
                                    </div>
                                </div>

                                </form>

                            </div>
                        </div>
                        </div>
                    </div>
-->

<!-- Start grafana -->
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">

                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                    </div>

                    </div>
                </div>


        </div>
    </div>
<!-- End grafana-->

            </div>
        </div>
    </div>

<div class="clearfix"></div>
</div>

{% include '/admin/pages/config_modals.html' %}
{% endblock %}
{% block pagescript %}
    <!-- Dropzone.js -->
    <script src="/isard-admin/vendors/dropzone/dist/min/dropzone.min.js"></script>
     	<script src="/isard-admin/static/js/restful.js""></script>
        <script src="/isard-admin/static/admin/js/config.js"></script>  
{% endblock %}
